---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$ovacopi-pink: #E42B7E;
$ovacopi-blue: #14ADE8;
$ovacopi-grey: #656263;

@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

// Import partials from sass_dir (defaults to _sass)
@import
	"article",
	"event",
	"forms",
	"header",
	"nav",
	"page",
	"speaker",
	"testimonial"
;
