---
layout: default
redirect_from:
  - /casovyrozvrh.html
  - /prednasejici.html
  - /mistokonani.html
  - /partneri.html
---

<section class="event__summary center">

	<div class="container">
		<h2>Setkání těch největších jmen ve světě copywritingu</h2>

		{% if site.data.event.datetime > site.time %}

			<div class="event__summary__cols">
				<div>
					<h3>Kdy</h3>
					<div class="event__summary__icon event__summary__icon--calendar"><div>pá</div></div>
					<time>{{ site.data.event.datetime | date: "%-d. %-m. %Y — %k:%M" }}</time>
					<div class="text--smaller">{{ site.data.event.datetime_sub }}</div>
				</div>
				<div>
					<h3>Kde</h3>
					<div class="event__summary__icon event__summary__icon--place"></div>
					<div>{{ site.data.event.place }}</div>
					<div class="text--smaller">{{ site.data.event.place_sub }}</div>
				</div>
			</div>

			{% if site.data.event.registration_link %}
				<a href="{{ site.data.event.registration_link }}" class="button">Registruj se</a>
				<p>
					… a pak
					<a href="{{ site.data.event.fb_event }}" class="">potvrď účast na Facebooku</a>
				</p>
			{% else %}
				<a href="{{ site.data.event.fb_event }}" class="button">Potvrď účast na Facebooku</a>
			{% endif %}

		{% else %}

			<form action="https://ovacopi.us10.list-manage.com/subscribe/post?u=5ecd9de4c3c0820ab682489ce&amp;id=d06b6f42bf" method="post" target="_blank">

				<p>Zatím nevíme, kdy další Ovacopi bude. <strong>Zapiš se</strong> zde a my ti pak dáme vědět.</p>
				<div class="signupform__fields">
					<label for="mce-EMAIL">
						Zadej svůj e-mail:
					</label>
					<input type="email" name="EMAIL" id="mce-EMAIL" required placeholder="tvuj@email.cz">
					<input type="submit" value="Posílat upozornění" name="subscribe">
				</div>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5ecd9de4c3c0820ab682489ce_d06b6f42bf" tabindex="-1" value=""></div>
			</form>

		{% endif %}

	</div>

</section>

<section class="section--inverse center">
	<div class="container">
		<h2>Co je Ovacopi</h2>
		<p>Ovacopi je setkání copywriterů, PR specialistů, novinářů, bloggerů a milovníků psaného jazyka. A vzniklo z nešťastné lásky.</p>
		<a href="/pribeh.html" class="button">Přečti si příběh Ovacopi</a>
	</div>
</section>

{% if site.data.event.datetime > site.time %}
	<section>
		<div class="container center">
			<h2>Program</h2>
			<p>Registrace začíná v půl šesté, přednášky v šest</p>


			{% if site.data.event.afterparty %}
				<h3>Čeká tě</h3>
				<div class="event__schedule__candy">
					<div>
						<img src="/assets/event-networking.svg" alt="networking">
					</div>
					<div>
						<p>Networking a zajímavé přednášky</p>
					</div>

					<div>
						<img src="/assets/event-afterparty.svg" alt="afterparty">
					</div>
					<div>
						<p>Afterparty</p>
					</div>
				</div>
			{% endif %}

			{% if site.data.event.speakers %}
				<h3>Kdo bude povídat</h3>

				{% for speaker in site.data.event.speakers %}
					<div class="speaker">
						<div>
							<img src="{{ speaker.photo }}" alt="{{ speaker.name }}" width="150" height="150">
						</div>
						<div>
							<p class="speaker__text">{{ speaker.about }}</p>
							<p class="speaker__name">{{ speaker.name }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}

		</div>
	</section>

	{% include testimonial_section.html %}
{% endif %}

<section>
	<div class="container center">
		<h2>Reporty z minulých ročníků</h2>
		{% assign first_ovacopi_timestamp = 1353088800 %}
		{% assign seconds_in_year = 60 | times: 60 | times: 24 | times: 365.0 %}
		{% assign now_timestamp = 'now' | date: "%s" %}
		{% assign time_from_first_ovacopi = now_timestamp | minus: first_ovacopi_timestamp  %}
		{% assign years_from_first_ovacopi = time_from_first_ovacopi | divided_by: seconds_in_year | round %}

		{% if years_from_first_ovacopi > 4 %}
			{% assign years_from_first_ovacopi_units = 'let' %}
		{% elsif years_from_first_ovacopi > 1 %}
			{% assign years_from_first_ovacopi_units = 'roky' %}
		{% else %}
			{% assign years_from_first_ovacopi_units = 'rok' %}
		{% endif %}


		<p>Skvělí lidé, přednášky nabité nápady a inspirací. Tak vypadá Ovacopi už {{ years_from_first_ovacopi }} {{ years_from_first_ovacopi_units }}. Každý ročník byl skvělý. Nechceme akce nechat upadnout v zapomnění, proto si můžeš přečíst reporty ke všem osmi ročníkům nebo zhlédnout záznamy přednášek.</p>
		<a href="/reporty" class="button">Přečti si reporty</a>
		<a href="https://www.youtube.com/channel/UCiv55aSgl73qGssgCBRp8Xw" class="button">Sleduj záznamy</a>
	</div>
</section>

{% include testimonial_section.html %}

<section>
	<div class="container center">
		<h2>Sleduj nás na sociálních sítích</h2>
		<div class="social-links">
			<div>
				<!-- Logo Facebooku -->
				<a href="https://www.facebook.com/ovacopi" class="button">Lajkni Ovacopi</a>
			</div>
			<div>
				<!-- Logo Twitter -->
				<a href="https://twitter.com" class="button">Tweetni o Ovacopi</a>
			</div>
			<div>
				<!-- Logo Youtube -->
				<a href="https://www.youtube.com/channel/UCiv55aSgl73qGssgCBRp8Xw" class="button">Sleduj videozáznamy</a>
			</div>
		</div>

	</div>
</section>

{% include testimonial_section.html %}

{% comment %}
<section>
	<div class="container center">
		<h2>Ovacopi hrdě podporují</h2>
		<img src="/assets/logo-bromelo.svg" alt="Bromelo">
	</div>
</section>
{% endcomment %}
