---
layout: default
redirect_from: /pribehovacopi.html
---
<section>

	<div class="container article--page">
		<h1>Jak vzniklo Ovacopi?</h1>
		<img src="/assets/pribeh-placky-kvetka.png" alt="Květka s plackou 2. OVACOPI">

		<p>"Na počátku byl sen. A&nbsp;ten sen se stal skutečností." Asi takhle nějak lidé většinou popisují své projekty. Touha, odhodlání, vášeň, láska. Můj příběh je trochu jiný. Nikdy jsem nesnila o&nbsp;tom být úspěšná. Neměla jsem potřebu vyčuhovat z&nbsp;davu. Byla jsem šedou myškou, úspěšnou studentkou, nepřemýšlející nad svou budoucností. A&nbsp;pak… jsem z&nbsp;nešťastné lásky založila OVACOPI.</p>

		<blockquote>Na&nbsp;počátku byl sen. A&nbsp;ten sen se stal skutečností.</blockquote>

		<p>Už od&nbsp;základní školy mě bavilo psát a věděla jsem, že se tomu chci i&nbsp;jednou věnovat. Na doporučení bývalého přítele, kterému patří největší dík za vznik OVACOPI, jsem se začala zajímat o&nbsp;copywriting.</p>

		<blockquote>Když&nbsp;jsem chodila na všechny ty IT srazy, nebavilo mě, že všude mluvili o&nbsp;tom, čemu nerozumím.</blockquote>

		<p>Nejprve jsem začala chodit na&nbsp;nejrůznější, především ajťácké, srazy. Prošla jsem přes StartupCamp, iOsovu a&nbsp;Barcamp. Seznámila jsem se s&nbsp;novým světem a&nbsp;uvědomila si, že mě to baví. Baví mě poznávat inspirativní lidi, kteří vás mohou dál obohatit a posunout. Baví mě být ve společnosti lidí, co chtějí v&nbsp;životě něco dokázat. A baví mě všechny ty srazy. Jen mě nebavilo, že všude mluvili o&nbsp;tom, čemu nerozumím.</p>

		<p>Touha&nbsp;po&nbsp;tom, začlenit se ještě víc do pro mě inspirativního světa, dala vzniku pro OVACOPI, setkávání copywriterů, PR specialistů, novinářů, bloggerů a milovníků českého jazyka. A&nbsp;upřímně to je to nejlepší, co mě zatím v&nbsp;životě potkalo.</p>


	</div>

</section>
<section class="section--inverse center">
	<p>
		Miluju to, co dělám. Miluju to nejvíc na světě. <strong>Miluju OVACOPI!</strong>
	</p>
</section>
<section>
	<div class="container">
		{% include author-kvetka.html %}
	</div>
</section>