---
layout: default
---
<section>

	<div class="container" class="center">
		<h1>Zeptej se nás na Ovacopi nebo třeba pozvi Květku na rande</h1>
		<form action="https://formspree.io/nikol.kupkova@gmail.com" method="post" class="center">
			<label for="email">Tvůj email</label>
			<input type="text" name="email" id="email">
			<label for="message">Tvůj dotaz</label>
			<textarea name="message" id="message"></textarea>
			<button type="submit" class="button">Odeslat dotaz</button>
			<input type="hidden" name="_next" value="http://www.ovacopi.cz/tym-odeslano.html" />
			<input type="hidden" name="_subject" value="Zpráva z ovacopi.cz" />
			<input name="_gotcha" placeholder="Toto pole nech prázdné, jinak zpráva nebude odeslána." type="text">
		</form>
	</div>

</section>

<section class="section--inverse center">
	<div class="container">
		<h2>Kdo stojí za Ovacopi</h2>
	</div>
</section>

<section class="center">

	<div class="container author author--team" itemscope itemtype="http://microformats.org/profile/hcard">
		<img src="/assets/avatar-kvetka.jpg" itemprop="photo" alt="Květka Lišková">

		<div class="author__name"><span itemprop="given-name">Květka</span> <span itemprop="family-name">Lišková</span></div>
	</div>

	<div class="container author author--team" itemscope itemtype="http://microformats.org/profile/hcard">
		<img src="/assets/avatar-honza.jpg" itemprop="photo" alt="Honza Pobořil">

		<div class="author__name"><span itemprop="given-name">Honza</span> <span itemprop="family-name">Pobořil</span></div>
	</div>

	<div class="container author author--team" itemscope itemtype="http://microformats.org/profile/hcard">
		<img src="/assets/avatar-nikola.jpg" itemprop="photo" alt="Nikol Kupková">

		<div class="author__name"><span itemprop="given-name">Nikol</span> <span itemprop="family-name">Kupková</span></div>
	</div>

</section>
