---
title:			"Report Ovacopi #2"
published:		2013-03-22
picture:		/reporty/2.jpg
redirect_from:	/reportovacopi2.html
---

<p>V&nbsp;pátek 22. února proběhlo naše druhé, odvážím se říci velice povedené setkání. Příjemným překvapením na začátek bylo sečtení všech účastníků únorového <a href="http://www.facebook.com/ovacopi?ref=ts&amp;fref=ts">OVACOPI</a>. Nebylo jich 40 jako posledně, ani 60, se kterými jsem na začátku počítala, ale více než 100! Oficiálně jsme posbírali 101 podpisů. Coworkingové centrum&nbsp;<a href="http://www.vivaostrava.cz/">VIVA Ostrava</a>&nbsp;doslova praskalo ve švech a nás to moc těší! </p>


<p>Na začátku jsme zvládli poděkovat všem partnerům, kteří pro zorganizování&nbsp;<a href="http://www.facebook.com/events/540266129339750/">OVACOPI #2</a>&nbsp;přiložili ruku k&nbsp;dílu. Šlo o báječného grafika&nbsp;<a href="http://www.frantisekburda.cz/">Františka Burdu</a>, společnost&nbsp;<a href="http://www.astrumq.com/">AstrumQ Interactive</a>, coworkingové centrum&nbsp;<a href="http://www.vivaostrava.cz/">VIVA Ostrava</a>&nbsp;a továrnu na placky&nbsp;Bad Gees. Poté dostali prostor další zajímaví účastníci našeho setkání a mohli jsme se přesunout k&nbsp;samotnému programu.</p>
<h3>Jiří Vicherek&nbsp;- Copywriterem proti vlastní vůli</h3>
<p>Jirka pracuje ve společnosti&nbsp;<a href="http://www.zoner.eu/cs/">ZONER</a><a href="http://www.facebook.com/pages/ZONER-software-as/105487996153017">&nbsp;</a>&nbsp;jako PR Manager a mimo jiné má prsty v&nbsp;ostravském projektu&nbsp;<a href="http://www.pkno.cz/" data-proofer-ignore>PechaKucha Night</a>. Na únorovém OVACOPI se s&nbsp;námi podělil o svůj životní příběh na cestě za copywritingem.</p> <p>Hned na začátku jsme se doslechli, že Jirka věří v&nbsp;chaos, který nechápeme, ale přesto nás dovede tam, kde máme být. Jeho přáním už od malička bylo nikdy nevyrůst. Přes vysněné povolání popeláře, novináře věnující se rodinné investigativní žurnalistice či advokáta prošel skrz diplomata nebo projekt PechaKucha, až zakotvil u marketéra, PR a copywritera. </p><p>A tehdy zjistil, že copywriting obsahuje spoustu oblíbených oborů jako je PR, psaní, marketing, žurnalistiku, psychologii a IT.</p><p> Nakonec se nám dostalo pár užitečných rad:</p> <ul><li>Nebojte se říct si o pomoc</li><li>Čtěte</li> <li>Naučte se gramatiku</li> <li>Zjistěte všechno o tom, co máte psát</li> <li>Sledujte lidi, kterým to jde líp než vám</li> <li>Získávejte kontakty i z&nbsp;jiných oborů</li> <li>Nebojte se dělat zadarmo a pomáhejte těm, kteří to umí hůř než vy</li> <li>Nikdy se však nestaňte dospělými, je to past</li></ul>
<p><iframe src="http://www.slideshare.net/slideshow/embed_code/16781195" width="342" height="291" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""> </iframe> </p><div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/JiVicherek/copywriterem-proti-vlastn-vli-final" title="Copywriterem proti vlastní vůli final">Copywriterem proti vlastní vůli final</a> </strong> od <strong><a href="http://www.slideshare.net/JiVicherek">Jiří Vicherek</a></strong> </div><p></p>

<h3>Pavel Ungr, Lucie Palkosková, Vojta Heřmánek -&nbsp;SEO: Komedie plná omylů &amp; Copywriting: Mnoho povyku pro nic</h3>
<p>Jako druzí vystoupili zástupci společnosti&nbsp;<a href="http://www.h1.cz/">H1.cz</a>. Nejdřív jsme si vysvětlili, co to vůbec SEO znamená a také si objasnili pravý význam slova copywriting.</p> <p>Poté se však přednáška odvíjela od webu ovacopi.cz a obsahovala její celkovou analýzu, která může být přínosem i pro váš web.</p> <p>Výpis některých rad:</p> <ul><li>Kvalitní web obsahuje krátké věty a odstavce, maximálně 3 – 5 řádků </li><li> Nepoužívejte trpný rod</li> <li>Používejte čísla ve smyslu číslovek</li><li>Skloňujte a hlavně to všechno zaobalte do příběhu</li></ul>
<p><iframe src="http://www.slideshare.net/slideshow/embed_code/16723427" width="342" height="291" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""> </iframe> </p><div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/PavelUngr/seo-a-copywriting-pro-ovacopi-2" title="Seo a copywriting pro Ovacopi #2">Seo a copywriting pro Ovacopi #2</a> </strong> od <strong><a href="http://www.slideshare.net/PavelUngr">Bloxxter Design</a></strong> </div>  <p></p>
<h3>Michelle Losekoot - Síla příběhu (10 kroků, jak se začít živit psaním)</h3>
<p>Vždycky se používá té otřepané fráze „to nejlepší nakonec“ a tak tomu bylo i tentokrát. Fakt to byla síla! Představila se nám Michelle Losekoot, autorka blogu&nbsp;<a href="http://ruzovapanda.blogspot.cz/">Růžová Panda</a>.</p> <p>Její zamilovanost do psaní pramení už od útlého dětství z&nbsp;kroužku, do kterého ji rodiče nikdy neposlali. P5edstavila nám 10 kroků, jak se začít živit psaním. Buďte lidští nebo se prostě pokuste být takoví jako Michelle&nbsp;:).</p>
<p><iframe src="http://www.slideshare.net/slideshow/embed_code/16731146" width="342" height="291" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""> </iframe> </p><div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/michellelosekoot/ovacopi2013" title="Ovacopi2013">Ovacopi2013</a> </strong> od <strong><a href="http://www.slideshare.net/michellelosekoot">Michelle Losekoot</a></strong> </div><p></p>

<h3>Afterparty</h3>
<p>Sladkou tečkou nakonec byla afterparty ve vedlejší&nbsp;Restauraci Broadway, přínosný networking, feedback všech povah a přesun na Stodolní ulici pro lepší adaptaci s&nbsp;Ostravou. Opravdu povedené.</p>

<p>Osobně mám z OVACOPI #2 nepopsatelnou radost. Nárůst fanoušků o 150 %, skvělé publikum, báječní řečníci a úžasná organizace ze strany VIVA Ostrava. Co víc si přát? Naopak jsem si vědoma i spousty organizačních a jiných prohřešků, které se pokusíme pro příště odstranit. A kdy bude příště? Už na začátku května! Těšte se na nás&nbsp;:).</p>

<p>Děkuji Vám za Vaši účast a budu se těšit opět v květnu!</p>
