---
title:			"Ovacopi #3 - Do třetice všeho dobrého i zlého"
published:		2013-05-20
picture:		/reporty/3.jpg
redirect_from:	/reportovacopi3.html
---

<p>V pátek 10. května proběhlo už třetí setkání OVACOPI. Do třetice všeho dobrého a zlého. A taky že jo! Celý večer se nesl v pohodové a uvolněné atmosféře v účastníky naplněném coworkingovém centru VIVA Ostrava. </p>
<h3>Otto Bohuš - Copywriting, Tao te ťing a 7 dní o vodě</h3>
<p>Otto je profesionální copywriter. Jednu nohu má volnou – a druhou v týmu digitální agentury <a href="http://www.proofreason.com/">Proof &amp; Reason</a>. Autor dvou dětí a webu <a href="http://ottocopy.cz/">ottocopy.cz</a>. Na květnovém OVACOPI promluvil o svém každoročním půstu a jeho blahodárných účincích na tělo a mysl. Mimo jiné tento půst dodal Ottovi odvahu vyjít mezi lidi a prezentovat. Od půstu jsme se ladně dostali až ke copywritingu a vysvětlili si, že copywriter je překladatel klientštiny a firemní hatmatilky. Z úst Otty zazněla i důležitá rada, a to být úsporný. Nepsat omáčku, neokecávat věci jako na vysoké škole, nenatahovat jako sopel a nepoužívat dlouhá souvětí. Je dobré myslet na úsporu ve slovech a poučování beze slov díky fotkám či textovým miniaturám, což má velkou sílu. Otto nezapomněl zmínit častokrát zmiňovanou připomínku, a to využití velkých agentur pro nabrání zkušeností a kontaktů. Prezentaci zakončil myšlenkou: „Můžete číst knihy o copywritingu nebo se podívat do ohně.“  </p>
<p><iframe src="http://www.slideshare.net/slideshow/embed_code/21324515" width="342" height="291" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""> </iframe> </p><div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/ovacopi/tao-te-ting-ovacopi-10-5pdf-verze-21324515" title="Otto Bohuš - Copywriting, Tao te ťing a 7 dní o vodě">Otto Bohuš - Copywriting, Tao te ťing a 7 dní o vodě</a> </strong> od <strong><a href="http://www.slideshare.net/ovacopi">OVACOPI</a></strong> </div><p></p>

<h3>1000 věcí, co mě serou - Každý den nasrán aneb 1000 všedních dnů, kdy píšete blog</h3>
<p>Jako druzí se představili zástupci fenomenálního blogu <a href="http://www.1000vecicomeserou.cz/">1000 věcí, co mě serou</a> Achjo Bitch, Atila, bič boží a Curvekiller. Přes definici hejtu a přehled počtu autorů jsme se dostali až k procesu tvoření takového blogu. Dozvěděli jsme se, jak je to s návštěvností, financováním i výhledem do budoucna. Podpořit je můžete i vy, a to například zakoupením oblíbených hejtů v knižní podobě.</p>
<p><iframe src="http://www.slideshare.net/slideshow/embed_code/21583309" width="342" height="291" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""> </iframe> </p><div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/vanekjiri/1000-veci-co-me-serou-verze-ovacopi-na-web-21583309" title="1000 věcí, co mě serou verze ovacopi na web">1000 věcí, co mě serou verze ovacopi na web</a> </strong> from <strong><a href="http://www.slideshare.net/vanekjiri">Jiří Vaněk</a></strong> </div><p></p>
<h3>Petra Čaníková - Napiš něco o té ďuře. Rychle!</h3>
<p>Souběžně s pražskými řečníky proběhl na místě workshop týkající se copywritingu, a to za historii OVACOPI vůbec prvně. Ryzí Ostravačka  <a href="http://canikova.cz/" data-proofer-ignore>Petra Čaníková</a> je copywriterkou na plný úvazek. Věnuje se obsahovým strategiím, komunikaci, PR a firemním sociálním médiím. Pracuje na volné noze a spolupracuje s marketingovou agenturou Plus Design &amp; Marketing. Workshop byl inspirován novým projektem <a href="http://www.vymoly.cz/" data-proofer-ignore="TODO: Mají na webu chybu shazující HEAD request.">vymoly.cz</a>, kde účastníci řešili hlavně komunikaci s klienty. </p>

<h3>Jan Sedlák - Co vás na žurnalistice nenaučí</h3>
<p>S posledním květnovým řečníkem jsme zamířili na téma žurnalistika. Zapotřebí nebyly žádné slidy, jen diskuse a praktické povídání. <a href="https://twitter.com/jansedlak">Honza</a> je reportér, moderátor a komentátor v médiích Mladé fronty, který ve své práci spojil dvě největší záliby - novinařinu a technologie. Právě v užším zaměření na danou oblast vidí příležitost, jak se v mediálním světě prosadit. Hned ze startu nás Honza odzbrojil tvrzením, že novináři, kteří vyjdou z žurnalistiky, jsou nepoužitelní. Doporučoval, aby se žurnalisté zaměřili na určitou oblast a v té se stali odborníky. Nakonec porovnal i úroveň českého a zahraničního PR. Honzovi patří plusové body za originalitu a udržení pozornosti posluchačů bez slidů.</p>
<h3>Tohle nebyl konec ...</h3>
<p>
S posledním řečníkem však nepřišel konec. Na závěr nás potěšilo vystoupení žongléra Juraje v doprovodu zpěváka Patrika Kee, kteří pro svou show využili sesbíraného netradičního vstupného na akci. Tím se pro tentokrát staly citrusy. Po jejich vystoupení jsme celý večer zakončili povedenou afterparty ve vedlejší restauraci Broadway.</p>
<br>
<img src="/reporty/3-patrik_a_juraj.jpg" width="100%" title="Patrik a Juraj" alt="Patrik a Juraj"> <br><br>

<p>OVACOPI #3 bylo opět skvělé a realizovalo se i díky partnerům <em>ŠetřímeČas</em>, skvělému grafikovi <a href="http://www.frantisekburda.cz">Františkovi Burdovi</a>, společnosti <a href="http://www.webmex.cz">Webmex</a>, která zajišťuje tvorbu kvalitních internetových e-shopů, Bad Gees zajistilo nádherné odznáčky, <a href="http://www.vivaostrava.cz">Viva Ostrava</a> jakožto poskytovatel prostor a kulturní vystoupení <a href="http://www.juraj-zongler.cz">Juraj Juggling</a> &amp; <a href="http://www.patrikkee.cz/">Patrik Kee</a>.</p>
<p>Ještě jednou děkujeme za vaši účast a už teď se tešte na říjen, kdy oslavíme první narozeniny!</p>

<div class="center"><a href="https://www.flickr.com/photos/ovacopi/sets/72157633546616278/">Fotky z akce na Flickeru</a></div>
