---
title:			"OVACOPI #4 - Oslavili jsme první narozeniny"
published:		2013-11-17
picture:		/reporty/4.jpg
redirect_from:	/reportovacopi4.html
---

<p>V pátek 1. listopadu proběhlo čtvrté, tentokrát výroční setkání OVACOPI. Narozeniny jsme slavili ve velkém stylu v nových prostorech <a title="Podnikatelský inkubátor" href="http://cpi.vsb.cz/">Podnikatelského inkubátoru</a>. Ten praskal ve švech, jelikož jsme přivítali přes sto z vás, tedy největší počet návštěvníků za celou uplynulou sezónu.</p>
<h3>Martin Šauer - Hledání ztraceného copywritera: boj na život a na smrt</h3>
<p><a title="Martin Šlauer" href="http://www.slovotepec.cz/">Martin Šauer</a>, copywriter na volné noze, poslední 4 roky každý den ve své slovotepecké dílně neúnavně vyťukává slova, věty a odstavce, které čtenáře okouzlí a přesvědčí k akci. Nedostudovaný ajťák, neúnavný karatista a milovník příběhů. Nejen o copywritingu a internetovém marketingu píše na <a title="Martin Šlauer" href="http://www.slovotepec.cz/">www.slovotepec.cz</a>. Ve své přednášce Martin přednesl pár tipů, jak na hledání copywritera, jak s ním komunikovat a jak dobrou práci ohodnotit.</p>

<p><iframe style="border: 1px solid #CCC; border-width: 1px 1px 0; margin-bottom: 5px;" src="http://www.slideshare.net/slideshow/embed_code/28331811" height="356" width="427" allowfullscreen="" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
<h3>Jana Leitnerová - Copywriting &amp; PR aneb Slovo dalo slovo, a to slovo prodalo!</h3>
<p>Druhá na řadu přišla <a title="Jana Leitnerová" href="http://janaleitnerova.cz/" data-proofer-ignore>Jana Leitnerová</a>. Ta se pohybuje v oblasti public relations a copywritingu. Její domácí hřiště je online, ale rozumí si i s papírem. Aktuálně ve službách Socialbakers a mnoha dalších zajímavých projektů. Svůj příspěvek Jana stavěla na vlastním prožitém prolínání copywritingu a PR v praxi. Řeč byla také o kvalitním obsahu, který se netýká pouze textu.</p><p>

</p><p><iframe style="border: 1px solid #CCC; border-width: 1px 1px 0; margin-bottom: 5px;" src="http://www.slideshare.net/slideshow/embed_code/28331840" height="356" width="427" allowfullscreen="" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
<h3>Workshop: Rostislav Kocman – Zákazník nebo klient?</h3>
<p>Souběžně s Janou probíhal workshop <a title="Rostislav Kocman" href="https://twitter.com/rostman">Rosti Kocmana</a> týkající se komunikace mezi zákazníkem a klientem. Rosťa byl v posledních třech letech PR manažerem Air Bank a mBank. Předtím se sedm let živil komunikací a PR v různých agenturách pro mnoho zajímavých značek a firem. Ještě předtím napsal pár tisíc článků jako odborný novinář. Workshop se nesl v duchu příjemné konzultace a zaměřil se na téma jednotné komunikace ve firmě. Návštěvníci dostali tipy, jak na to, aby reklamština, právničtina, tisková zpráva, příspěvky na firemní blogu i tweety působily příjemně a mluvily jedním jazykem a přitom řekly správně vše, co je potřeba.</p><p>
</p><h3>Karel Novotný – Jak se jako copywriter prodat</h3>
<p>Poslední narozeninový řečník byl opravdovou třešničkou na dortu. Přivítali jsme Karla Novotného, specialistu na značky. Karel se v tomto prostředí pohybuje už 15 let a ví, jak značky fungují, co musíte udělat, aby uspěla i ta vaše. A hlavně, jak se prodat a nepodceňovat. Karel nám vysvětlil výhody extroverze a introverze, kladl důraz na poznání sebe sama a přinutil každého z nás přemýšlet nad svou značkou či byznysem.</p>

<p><iframe style="border: 1px solid #CCC; border-width: 1px 1px 0; margin-bottom: 5px;" src="http://www.slideshare.net/slideshow/embed_code/28331866" height="356" width="427" allowfullscreen="" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>

<p>Kromě přednáškového programu na narozeninovém OVACOPI zazněla také přednáška organizátorky <a title="Květoslava Lišková" href="https://twitter.com/liskovak">Květoslavy Liškové</a> o roku s OVACOPI a milnících, které se za uplynulou sezónu udály. Vedle toho vystoupil také Jan Linhart, který představil svůj nový projekt copywriting.cz, platformu spojující copywritery a inzerenty. Nakonec se jedlo a pilo, slavilo do ranních hodin! Sfoukli jsme svíčky, rozkrojili narozeninový dort a připili si na druhou sezónu. Ať žije OVACOPI!</p>
<h3>Poděkování partnerům a sponzorům</h3>
<p>OVACOPI #4 bylo tradičně příjemné setkání a realizovalo se i díky partnerům <a href="http://www.netdevelo.cz">Netdevelo s.r.o.</a>, Janu Linhartovi a projektu <a href="http://www.copywriting.cz">copywriting.cz</a>, <a href="http://cpi.vsb.cz/">Podnikatelskému inkubátoru</a>, skvělému grafikovi <a title="František Burda" href="http://www.nejlepsinapad.cz/" data-proofer-ignore>Františkovi Burdovi</a>, skalního webmastera a specialistovi na FB marketing <a href="http://www.davidlorincz.cz">Davida Lörincze</a> a obrovský dík patří i Jankovi Vančurovi a jeho továrně na placky Bad Gees.</p>

<p>Ještě jednou mockrát děkuji za vaši účast, doufám, že jste si narozeniny užili stejně dobře jako já a už teď se těšte na jaro, kdy se opět potkáme!</p>

<div class="center"><a href="https://www.facebook.com/media/set/?set=a.542387305844720.1073741829.358690080881111&amp;type=3">Fotky z akce na Facebooku</a></div>
