---
layout: default
redirect_from: /reportyovacopi.html
---

<section>

  {% for post in site.reporty reversed %}
    <article class="container article--teaser">
      <a href="{{ post.url }}" class="article__link">
        <div class="article__header">
          <h2>{{ post.title }}</h2>
          {% if post.published %}<time>{{ post.published | date: "%-d.&nbsp;%-m.<br>%Y" }}</time>{% endif %}
        </div>
        {% if post.picture %}<img src="{{ post.picture }}" alt="{{ post.title }}">{% endif %}
      </a>
      {{ post.content | split: '</p>' | first }}</p>
    </article>
  {% endfor %}

</section>
