<div class="author" itemscope itemtype="http://microformats.org/profile/hcard">
	<img src="/assets/avatar-kvetka.jpg" itemprop="photo" alt="Květka Lišková">
	<div class="author__name"><span itemprop="given-name">Květka</span> <span itemprop="family-name">Lišková</span></div>
	<div class="author__desc" itemprop="title">zakladatelka a organizátorka setkání OVACOPI</div>
</div>