<footer id="menu">

	<a href="#" class="header" data-proofer-ignore>
		<div class="container">
			<span class="header__logo">
				<img src="/assets/ovacopi_logo.svg" alt="OVACOPI" class="logo">
			</span>
			<span class="nav__toggle" title="zavřít menu">&equiv;</span>
		</div>
	</a>

	{% include nav.html %}

</footer>
