<header class="header">

	<div class="container">

		<a class="header__logo" href="/">
			<img src="/assets/ovacopi_logo.svg" alt="OVACOPI">
			<h1>OVACOPI</h1>
		</a>

		{% include nav.html %}
		<a href="#menu" class="nav__toggle" title="menu">&equiv;</a>
	</div>

</header>
