<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}OVACOPI</title>
  <meta name="description" content="Setkání copywriterů, PR specialistů, novinářů, bloggerů &amp; milovníků psaného jazyka">

  <link rel="stylesheet" href="/css/main.css">
</head>
