{% assign item = site.data.testimonials | random_pop %}

{% if item %}
	<section class="section--inverse center">
		<div class="container">
			<blockquote class="testimonial">
				<div><img src="{{ item.photo }}" alt="{{ item.name }}" width="150" height="150"></div>
				<div>
					<p class="testimonial__text">{{ item.text }}</p>
					<p class="testimonial__name">
						<a href="{{ item.url }}">{{ item.name }}</a> — {{ item.about }}
					</p>
				</div>
			</blockquote>
		</div>
	</section>
{% endif %}
