.article--page {
	time {
		display: block;
		text-align: center;
		margin: -0.5rem 0 1rem;
	}

	blockquote {
		border-left: 7px solid $ovacopi-pink;
		margin-left: 0.1em;
		padding: 0.5rem 1.1rem;
		font-size: 1.1em;
	}
}

.article--teaser {
	margin-bottom: 3rem;

	.article__link {
		text-decoration: none;
		display: block;
	}

	.article__header {
		display: flex;
		margin: 0.5rem 0;
	}

	time {
		align-self: center;
		text-align: center;
		padding: 0.3em;
		margin-right: 0.5rem;
		font-weight: bold;
		background-color: $ovacopi-pink;
		color: white;
	}

	h2 {
		order: 1;
		align-self: center;
		margin: 0;
		color: $ovacopi-pink;
	}

	img {
		clear: left;
	}
}