.event__summary {
	background: url("/assets/event-photo.jpg") no-repeat top center #F4F4F4;

	h2 {
		color: $ovacopi-pink;
	}

	&__cols {
		display: flex;
		justify-content: center;
		margin: 1rem 0;

		> :first-child {
			margin-right: 0.5rem;
			@media (min-width: 53em) {
				margin-right: 3rem;
			}
		}
	}

	&__icon {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		height: 5rem;
		margin: 1rem 0;

		div {
			font-size: 2.1rem;
			color: white;
			padding-top: 2.5rem;
		}

		&--place { background-image: url("/assets/event-pin.svg"); }
		&--calendar { background-image: url("/assets/event-calendar.svg"); }
	}

	.signupform__fields {
		input {
			width: 20rem;
			max-width: 100%;
			display: block;
			margin: 0.7rem 0 auto;
		}
	}

	@media (min-width: 60rem) and (min-height: 34rem) {
		&__cols {
			padding: 1rem 0;
		}

		.signupform__fields {
			margin: 0.7rem;
		}
	}
}

.event__schedule {
	&__candy {
		color: $ovacopi-blue;
		font-weight: bold;

		img {
			width: 70%;
			max-width: 14rem;
		}

		@media (min-width: 34em) {
			display: flex;
			flex-wrap: wrap; // Wrap to have labels on the second row
			justify-content: space-around;

			> * {
				width: 40%;
			}

			> :nth-child(odd) { // Should be images
				order: -1; // Reorder to have images at first row
				align-self: flex-end;
			}
		}
	}
}
