.button, input[type=submit] {
	display: inline-block;
	padding: 0.7em 1.6em;
	margin: 1em 0.7rem;
	border-radius: 8px;
	background-color: #39B54A;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	box-shadow: rgba(0, 0, 0, 0.26) 2px 2px 8px;
	border: none;
	font-family: inherit;
	overflow-wrap: break-word;
	white-space: normal;

	@media (min-width: 40rem) {
		font-size: 1.1em;
	}
}

input, textarea {
	display: block;
	padding: 0.7em 1.6em;
	margin: 1em 0.7rem;
	border-radius: 8px;
	border: 1px #CCCCCC solid;
	font-size: 1.2em;
	font-family: inherit;
	text-align: inherit;
	box-sizing: border-box;

	@media (min-width: 40rem) {
		font-size: 1.1em;
	}
}

label {
	display: block;
	margin: 2rem 1rem auto;
}

input[name=_gotcha] {
	visibility: hidden;
	position: absolute;
}

form {
	margin: 4rem auto;
	width: 300px;
}

textarea {
	height: 10rem;
}


