.header {
	background-color: white;
	border-bottom: 2px solid #F3F3F3;
	padding: 15px 0;
	text-align: right;
	width: 100%;

	.header__logo {
		float: left;

		img {
			max-width: 170px;
		}

		h1 {display: none}
	}

	@include clearfix();
}
