.header {
	nav {
		font-size: 0.9em;

		a {
			text-decoration: none;
			color: black;
			display: inline-block;
			padding: 2px 10px;
		}
	}

	.nav__toggle {
		display: none;
		text-decoration: none;
		color: $ovacopi-grey;
		font-size: 28px;
		position: absolute;
		right: 12px;
		top: 10px;
		padding: 9px 12px 22px 12px;
	}

	@media (max-width: 750px) {
		nav { display: none; }
		.nav__toggle { display: inline-block; }
	}
}

footer {
	background-color: $ovacopi-grey;
	margin-top: 3rem;
	text-align: center;
	padding: 1rem 0;

	.header { display: none; }

	nav {
		a {
			display: block;
			padding: 1rem;
			color: white;
			text-decoration: none;
			font-size: 1.2em;

			@media (min-width: 750px) { display: inline-block; }
		}
	}

	&:target {
		.header {
			display: block;
			position: fixed;
		}

		.nav__toggle {
			background-color: $ovacopi-pink;
			color: white;
		}

		background-color: $ovacopi-pink;
		position: fixed;
		overflow: scroll;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin-top: 0;
		padding-top: 0;

		nav {
			padding-top: 80px;
		}
	}
}
