body {
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.4em;
    font-size: 0.9em;
    margin: 0;
    padding: 0;

	@media (min-width: 40rem) {
		font-size: 1em;
	}
}

h1, h2, h3, h4 {
	&:not(:first-child) {
		margin-top: 2.5em;
	}
}

h1 {
	color: $ovacopi-pink;
	text-align: center;
	margin: 1rem 0;
	font-size: 1.27em;
}

h2 {
	font-size: 1.17em;
	@media (min-width: 53rem) {
		font-size: 1.5em;
	}
}

img {
    max-width: 100%;
    vertical-align: middle;
}

p {
	margin: 0.7rem;
}

.text--smaller {
	font-size: 0.8em;
}

.container {
	margin: 0 1.2rem;
	max-width: 50rem;

	@media (min-width: 50rem) {
		margin: 0 auto;
	}
}

.center {
	text-align: center;
}

section {
	padding: 1rem 0;

	@media (min-width: 60rem) and (min-height: 34rem) {
		padding: 2rem 0;

		p {
			margin: 2rem 0.7rem;
		}
	}
}

.section--inverse {
	background-color: $ovacopi-pink;
	color: white;

	.button {
		background-color: white;
		color: #3E3E3E;
	}

	a {
		color: white;
	}
}

.author {
	text-align: center;
	color: $ovacopi-blue;

	img {
		width: 35%;
		max-width: 12.5rem;
		border-radius: 50%;
		margin: 1rem;
	}

	.author__name {
		font-weight: bold;
	}
}

@media (min-width: 40rem) {
	.social-links {
		display: flex;
	}
}

.author--team {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 6rem;
		height: 6rem;
	}
}
