@charset "utf-8";

.speaker {
	margin: 1rem 0;
	font-size: 0.9em;
	display: flex;
	align-items: center;

	> :first-child { // Workaround for bug in Safari
		flex-shrink: 0;
		flex-basis: auto;
	}

	img {
		max-width: none;
		border-radius: 50%;
		margin: 0.7rem 0.7rem 0.7rem 0;
	}

	&__text {
		text-align: left;
	}

	&__name {
		text-align: left;
		font-weight: bold;
	}

	@media (max-width: 31rem) {
		display: block;
		img { margin: 0.7rem; }
	}
}
