@charset "utf-8";

.testimonial {
	margin: 0;
	font-size: 0.9em;
	display: flex;
	align-items: center;

	> :first-child { // Workaround for bug in Safari
		flex-shrink: 0;
		flex-basis: auto;
	}

	img {
		max-width: none;
		border-radius: 50%;
		margin: 0.7rem 0.7rem 0.7rem 0;
	}

	&__text {
		quotes: "„" "“";
		font-style: italic;

		&:before {
			content: open-quote;
		}
		&:after {
			content: close-quote;
		}
	}

	&__name {
		font-weight: bold;
	}

	@media (max-width: 31rem) {
		display: block;
		img { margin: 0.7rem; }
	}
}
