---
layout: default
---
<section>

  <article class="container article--page">
    <h1>{{ page.title }}</h1>
    {% if page.published %}<time>{{ page.published }}</time>{% endif %}
    {% if page.picture %}<img src="{{ page.picture }}" alt="{{ page.title }}">{% endif %}

    {{ content }}

    {% include author-kvetka.html %}
  </article>

</section>

<section>
  <div class="container center">
  	<a href="/" class="button">Přijď na příští Ovacopi</a>
  </div>
</section>
